h1,h2,h3,h4,p {
margin-top: 0;
margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    margin: auto;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
a {
    text-decoration: none;
}
a {
    color: #212121;
}
a:hover {
    color: #2196F3;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body { 
    width: 1600px;
    font-family:(--font-family); 
    color:var(--primary-text-color);
    font-size:   14px;
    font-style:  normal;
    font-weight: 500;
}


:root {
    /* background-color */
    --main-header-background-size:      #FFFFFF;
    --main-background-section-one:      #2F303A;
    --main-background-section-two:      #E5E5E5;
    --main-background-section-button:   #F5F4FA;
    --main-background-hooter-color:     #2F303A;
    /* font color */
                --logo-color-blue-blue: #2196F3;
                --main-header-color:    #212121;
                --primary-text-color:   #757575;
    /* homepage button color */
                --homepage-button-color:#188CE8;
    /* font */
    --font-family:  'Raleway', 'Roboto' sans-serif;
    --font-roboto:  'Roboto';
    --font-releway: 'Raleway';
    --font-style: normal;
    --font-weight700: 700;
    --font-weight500: 500;
    --font-weight400: 400;
    --font-size14: 14px;
    --font-size26: 26px;
    --font-size36: 36px;
    ---font-size14: 14px;


}
.link {
    text-decoration: none;
    font-family:  inherit;
}
.list {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

/* заголовок */
.div-header {
    /* width: 1600px; */
}

.page-header {
    background-color: var(--main-header-background-size);
    padding: 0 0;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}
/* навигация */
.page-nav {
    display: flex;
    align-items: center;
}
/* логотип */
.logo {
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-Wed {
    color: var(--logo-color-blue-blue);
    font-family:var(--font-releway);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-Studio {
    color: var(--main-header-color);
    font-family: var(--font-releway);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* нав меню */
.menu-item:not(:last-child) {
    margin-right: 40px;
}
.menu-link {
    flex: content;
    display: block;
    text-decoration: none;
    font-family:var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight500);
    font-size: var(--font-size14);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-header-color);
}
/* почта телефон */
.list {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family:var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight500);
    font-size: var(--font-size14);
    line-height: 1.14;  
}
.phone-number {
    margin-left: 50px;
}
.phone-number {
    color: var(--primary-text-color);
}
.mailto {
    margin-left: 331px;
    color: var(--primary-text-color);
}
/* Эффективные решения для вашего бизнеса */
.divbusiness {
    background-color: var(--main-background-hooter-color);
    margin-right: auto;
    padding-top: 195px;
    padding-bottom: 285px;
}
.business {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
}
/* заголовок */
.business-solution {
    margin: auto;
    width: 696px;
    color: var(--main-header-background-size);
    margin-top: 0;
    font-family:var(--font-roboto);
    font-style: var(--font-style);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* кнопка Заказать услугу */
.main-button {
    margin: auto;
    margin-top: 50px;
}

.main-button:focus {
background-color: var(--logo-color-blue-blue);
}
.main-button {
    background-color: var(--homepage-button-color);
    font-family: var(--font-roboto);
    color: var(--main-header-background-size);
    font-weight: var(--font-weight700);
    font-style: var(--font-style);
        border: none;
        min-width: 50px;
        padding: 10px 32px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;       
}
/* кнопки */

.button-portolio {
    border: none;
    font-family: var(--font-roboto);
    background-color: var(--main-background-section-button);
    color: var(--main-header-color);
    font-weight: var(--font-weight500);
    font-size: 16px;
    line-height: 1.65;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.03em;
    
}
.button-portolio:hover {
    background-color: var(--logo-color-blue-blue);
    color: var(--main-header-background-size);
}

/* Эффективные решения для вашего бизнеса div*/

/* Эффективные решения для вашего бизнеса */
.sidebars: {
    justify-content: center;
    width: 270px;
}
.sidebars:not(:last-child){
    margin-right: 30px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.sidebar {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    margin: auto;
    align-items: center;
}
/* < !--arranged in the form of a list--> */
.sidebarh {
    color: var(--main-header-color);
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size14);
    line-height: 1.14;
    line-height: 1.14;
}

.sidebarp {
    padding-top: 10px;
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: var(--font-size14);
    line-height: 1.71;
}

.doing {
    margin:0;
    padding-bottom: 50px;
    padding-left: 397px;
    padding-right: 397px;
    color: var(--main-header-color);
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size36);
    line-height: 1.16;
}

.technicalim:not(:last-child){
    margin-right: 30px;
}
.work {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
    display: flex;
    padding: 0;
}
.workhome {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}
.technicalim {
    display: flex;
}
/* Наша команда */
.team-name {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size36);
    line-height: 1.16;
    text-align: center;
    color: var(--main-header-color);
    letter-spacing: 0.03em;
}
.team{
    padding-bottom: 94px;
}
.team-name {
    padding-bottom: 50px;
}

.our-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.namejobtitle {
    background-color: var(--main-header-background-size);
}
.name{
    padding-top: 30px;
}
.jobtitle {
    padding-top: 10px;
    padding-bottom: 30px;
}
.our-teamo:not(:last-child){
    margin-right: 30px; 

}

.team {
    background-color: #F5F4FA;
}

/* подпись карточки */
.name {
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight500);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-header-color);
}
/* должность */
.jobtitle {
    color: var(--primary-text-color);
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team {
    margin-bottom: 0;
}
.our-team{
/* padding: 30px; */
}
.footer {
    background-color: var(--main-background-hooter-color);
}
/* логотип */
.logofooter {
    text-decoration: none;
}

.logo-Wedfooter {
    margin-top: 0;
    color: var(--logo-color-blue-blue);
    font-family: var(--font-releway);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-Studiofooter {
    color: var(--main-header-background-size); 
    font-family: var(--font-releway);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: var(--font-size26);
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.address {
    color: var(--main-header-background-size);
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: var(--font-size14);
    line-height: 1.71;
    
}
.mail {
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: var(--font-size14);
    line-height: 1.71;  
    color: rgba(255, 255, 255, 0.6);
}
.tel {
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: var(--font-size14);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.product {
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight700);
    font-size: 18px;
    line-height: 2;
    color:var(--main-header-color);
}
.web {
    font-family: var(--font-roboto);
    font-style: var(--font-style);
    font-weight: var(--font-weight400);
    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color);
    line-height: 30px;
}
/* ПОРТФОЛИО */
.borhed {
    border-bottom: solid 1px #EEEEEE;
}
/* h1 */
.none {
display: none;
}
/* КНОПКИ-ПОРТФОЛИО */
.button-port {
    display: flex;
}
.button-portolio {
    margin-left: 8px;
}

.one {
    margin-left: 280px;
}
.button-port{
    padding-bottom: 50px;
    padding-top: 94px;
}

/* БОРДЫ */
.product-web{
    background-color: var(--main-header-background-size);
    border: solid 1px #EEEEEE;
}
.product {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
}
.web {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}
.our-tea {
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-t {
    margin-bottom: 30px;
}
.our-t:nth-last-child(-n+3){
    margin-bottom: 160px;
}



















